/* crc/styles/Signup.css */

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}